vendor/
.idea/
.buildpath
.settings
.project
composer.phar
clover.xml
coveralls-upload.json
data/*
!data/.gitkeep
!data/cache/.gitkeep
.php_cs.cache
*~
error.log
ergebnis.txt
result.txt
phpunit.txt
tests/temp/*.php
tests/temp/*.ini
.phplint-cache
.phpunit.result.cache
infection-*.log
