.features {
    vertical-align: baseline;
    line-height: 1rem;
}

.list-group-item.features {
    background-color: transparent;
}

.features .support {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    font-size: 1rem;
    clear: both;
    text-align: center;
    line-height: 1.4;
    padding-top: 48px;
}

footer li {
    display: inline-block;
}

.corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 10;
}

/* Custom styles */

.corner-ribbon.sticky{
    position: fixed;
}

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-right{
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.blue{
    background: #39d;
}
